/* CampTable.css */

.table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thTd {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.thStyle {
  background-color: #4caf50;
  color: white;
}

.actionButton {
  background-color: #2196F3;
  color: white;
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  position: relative;
  display: inline-block; /* Display buttons in a single line */
}

.actionButtonGreen {
  background-color: rgb(111, 208, 111);
}

.actionButtonRed {
  background-color: rgb(196, 74, 74);
}
