.home {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  display: flex;
  flex-direction: column; /* Organize content in a column */
}
.home *,
.home *::before,
.home *::after {
  font-family: 'Roboto', sans-serif;
}

  .slider-container {
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  .slider-container:before,
  .slider-container:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    background: url('../images/img.png');
    background-size: cover;
  }
  
  .slider-container:before {
    left: -100px;
  }
  
  .slider-container:after {
    right: -100px;
  }
  
  .slider-container .slick-slide {
    outline: none;
  }
  
  .slider-image {
    width: 90%;
    height: 500px;
    display: block;
    margin: auto;
  }
  
  .slick-next:before,
  .slick-prev:before {
    color: #ffffff;
  }
  
  .slick-next,
  .slick-prev {
    z-index: 2;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #1cbbb4;
    transform: translate(0, -50%);
  }
  
  .slick-prev {
    left: 15px;
  }
  
  .slick-next {
    right: 15px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
   
      .text-content, .image-content {
        width: 100%;
      }
    
      .explore-button {
        margin-top: 20px;
      }
  
    .image-content {
      height: auto;
    }
  
    .home-banner {
      padding: 40px 15px;
    }
  
    .home-banner h1,
    .home-banner h2 {
      font-size: 24px;
    }
  
    .explore-button {
      padding: 12px 25px;
      font-size: 18px;
    }
  
    .slider-container {
      max-height: 200px;
    }
  
    .slider-image {
      max-height: 200px;
    }
  
    .slider-container:before,
    .slider-container:after {
      display: none;
    }
  }
  
  
.home-heading{
  color: rgb(114, 114, 185);
  font-family: "Roboto";
  margin-top: 35px;
}