.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .signup-button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .signup-button:hover {
    background-color: #151516;
    color: #fff;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0; /* Position the dropdown to the right */
    width: 200px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px;
    z-index: 999;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 8px 0;
  }
  
  .dropdown-menu a {
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }