
.logo-image{
    height: auto;
    width: 150px;
}

@media (min-width: 899px){
    .logo-image{
        display: none;
    }
}

.logo-sm{
    width: 200px;
}
@media (max-width: 899px){
    .logo-sm{
        display: none;
    }

}
