.navbar {
  background: linear-gradient(to right, #123c4a, #1a2e35); /* Gradient background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: 'Poppins', sans-serif;
  height: 60px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.navbar-logo img {
  height: 60px; /* Adjust as needed */
}

.dropbtn {
  background-color: transparent; /* Making the button transparent */
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s; /* Smooth transform on hover */
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Align to the right */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px; /* Added border radius */
  z-index: 1;
}

.dropdown-content a {
  color: #1a2e35;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-content a:hover {
  background-color: #1cbbb4;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transform: rotate(90deg); /* Rotate button for interactive effect */
}

.dropdown-icon {
  display: inline-block;
  /* Additional styling if needed */
}
.navbar-items {
  display: none;
  position: static; /* This makes the navbar items part of the normal document flow */
  width: auto; /* Allows the navbar items to take up only as much space as needed */
  flex-grow: 1;
  top: 60px; /* Adjust to match the navbar height */
  left: 0;
  
  background: linear-gradient(to right, #123c4a, #1a2e35); /* Same as navbar for consistency */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .navbar-items {
  display: flex; /* Show dropdown on hover */
}
.navbar-items a {
  color: white; /* or any color you prefer */
  padding: 10px;
  text-decoration: none;
}
.navbar-items.show {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 
  position: static; /* Reset to flow within the navbar */
  width: auto; /* Adjust width */
  top: auto; /* Reset top position */
  left: auto; /* Reset left position */
  padding: 0 20px;
}
.navbar-logo, .dropbtn {
  flex: 0 0 auto; /* This prevents the logo and button from growing and ensures they only take up necessary space */
}
/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-logo img {
    margin-bottom: 10px;
  }

  .dropdown-content {
    right: 0;
    left: 0;
    width: 100%;
  }
  .navbar-items {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
  
}