.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.contact-list {
  flex: 1;
  text-align: center;
}

.contact-image {
  flex: 1;
}

.contact-image img {
  width: 100%;
  height: auto;
}

/* Styling the heading */
h1 {
  font-size: 2.5em;
  color: #1a2e35; /* Theme color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  margin-bottom: 20px;
}

/* Stylish and beautiful buttons */
.contact-btn {
  display: block;
  width: 60%; /* Adjusted width */
  margin: 10px auto; /* Centered with auto margin */
  padding: 15px 20px;
  background: linear-gradient(145deg, #1cbbb4, #18a0a1);
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 25px; /* Rounded corners */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 1.1em;
  font-weight: bold;
}

/* Hover effect for buttons */
.contact-btn:hover {
  background: linear-gradient(145deg, #18a0a1, #1cbbb4);
  transform: translateY(-3px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    height: auto;
  }

  .contact-btn {
    width: 80%;
  }

  .contact-list, .contact-image {
    flex: none;
    width: 100%;
  }
}
